mybatis:
  type-aliases-package: com.lhs.www.entity 
  config-location: /mybatis/mybatis-config.xml
  mapper-locations: /mybatis/mapper/*.xml
  
# datasourceï¼šcom.mysql.jdbc.jdbc2.optional.MysqlDataSource
jdbc:
  driver: com.mysql.jdbc.Driver
  url: jdbc:mysql://119.23.202.18:3306/test?useUnicode=true&charaterEncoding=utf-8&useSSL=false
  databaseName: test
  serverName: 127.0.0.1
  userName: root
  password: Root!!2018
  
# Logging & Tomcat
logging.config: "classpath:logback-spring.xml"
#logging.config: "classpath:logbackTest.xml"

test:
     env: dev 